*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/codeStyles
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/codeStyles
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/release
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.ser
